annotated-types==0.7.0
black==26.5.1
click==8.4.2
isort==8.0.1
lance-namespace==0.8.6
lance-namespace-urllib3-client==0.8.6
mypy_extensions==1.1.0
numpy==2.5.1
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.1
pyarrow==25.0.0
pydantic==2.13.4
pydantic_core==2.46.4
pylance==8.0.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
